[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "==0.990"
rdkit = "==2022.03.3"
rdkit-stubs = {editable = true, file = "file:///home/a/d/rdkit-stubs"}
pyright = "==1.1.279"
pytest = "==7.2.0"

[dev-packages]

[requires]
python_version = "3.10"
